<p style="color: green"><%= notice %></p>
<h1>Shopping lists</h1>
<div id="shopping_list">
  <ul>
    <% @foods.each do |food| %>
      <% food_total = food.calculate_total_price(food, current_user) %>
      <% if food_total > 0 %>
        <li>
          <%= food.name %>
          R <%= '%.2f' % (food.calculate_total_price(food, current_user)) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
